footer {
    background: #0F2421;
    padding: 60px 0;

    h2 {
        margin: 0 0 100px;

        @include media-breakpoint-down(md) {
            margin: 0 0 40px;
        }
    }

    .back-to-top {
        background: transparent;
        border: none;
    }

    h5 {
        margin: 0 0 50px;

        @include media-breakpoint-down(md) {
            margin: 0 0 25px;
        }
    }

    .address {
        font-size: 14px;
        line-height: 28px;
    }

    .copy {
        font-size: 14px;
        margin: 0 0 30px;
    }
}

.footer-list {
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
    padding: 0;

    li {
        margin: 0 0 5px;

        a  {
            font-size: 14px;
            line-height: 40px;
            color: $white;
        }
    }
}