// Asset Path
$assetPath : "../images";
$fontPath : "../webfonts";

/* Font Family */
$sailec: 'Sailec';

/* Colors  */
$primarycolor: #102421;
$secondarycolor: #C7E1BF;
$yellow: #ffd400;
$white: #ffffff;
$gray: #8F9095;
$offwhite: #f7f7fa;
$red: #E9241D;
$green: #4caf50;
$blue: #151442;
